<a href="https://colab.research.google.com/github/ernadns/Data-Preprocessing-Missing-Value-/blob/main/Data_Preprocessing_(Missing_Value).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [3]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving pima-indians-diabetes.csv to pima-indians-diabetes.csv
User uploaded file "pima-indians-diabetes.csv" with length 23875 bytes

# removing missing value

In [5]:
dataset1 = pd.read_csv("pima-indians-diabetes.csv")
dataset1.head()
print (dataset1.describe())

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000

In [7]:
# Melihat apakah terdapat missing value

dataset1[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = dataset1[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0,np.NaN)
print(dataset1.isnull().sum())

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [8]:
dataset1.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1
10,4,110.0,92.0,NaN,NaN,37.6,0.191,30,0
11,10,168.0,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139.0,80.0,NaN,NaN,27.1,1.441,57,0
13,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1
14,5,166.0,72.0,19.0,175.0,25.8,0.587,51,1
15,7,100.0,NaN,NaN,NaN,30.0,0.484,32,1
16,0,118.0,84.0,47.0,230.0,45.8,0.551,31,1
17,7,107.0,74.0,NaN,NaN,29.6,0.254,31,1
18,1,103.0,30.0,38.0,83.0,43.3,0.183,33,0
19,1,115.0,70.0,30.0,96.0,34.6,0.529,32,1

In [9]:
dataset1.shape

(768, 9)

In [10]:
# Menghilangkan missing value
dataset1.dropna(inplace=True)
# summarize the number of rows and columns in the dataset
print dataset1.shape

(392, 9)

In [12]:
dataset2 = pd.read_csv('pima-indians-diabetes.csv')
dataset2[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = dataset2[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0,np.NaN)
dataset2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1
10,4,110.0,92.0,NaN,NaN,37.6,0.191,30,0
11,10,168.0,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139.0,80.0,NaN,NaN,27.1,1.441,57,0
13,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1
14,5,166.0,72.0,19.0,175.0,25.8,0.587,51,1
15,7,100.0,NaN,NaN,NaN,30.0,0.484,32,1
16,0,118.0,84.0,47.0,230.0,45.8,0.551,31,1
17,7,107.0,74.0,NaN,NaN,29.6,0.254,31,1
18,1,103.0,30.0,38.0,83.0,43.3,0.183,33,0
19,1,115.0,70.0,30.0,96.0,34.6,0.529,32,1
20,3,126.0,88.0,41.0,235.0,39.3,0.704,27,0
21,8,99.0,84.0,NaN,NaN,35.4,0.388,50,0
22,7,196.0,90.0,NaN,NaN,39.8,0.451,41,1
23,9,119.0,80.0,35.0,NaN,29.0,0.263,29,1
24,11,143.0,94.0,33.0,146.0,36.6,0.254,51,1
25,10,125.0,70.0,26.0,115.0,31.1,0.205,41,1
26,7,147.0,76.0,NaN,NaN,39.4,0.257,43,1
27,1,97.0,66.0,15.0,140.0,23.2,0.487,22,0
28,13,145.0,82.0,19.0,110.0,22.2,0.245,57,0
29,5,117.0,92.0,NaN,NaN,34.1,0.337,38,0
...,...,...,...,...,...,...,...,...,...
738,2,99.0,60.0,17.0,160.0,36.6,0.453,21,0
739,1,102.0,74.0,NaN,NaN,39.5,0.293,42,1
740,11,120.0,80.0,37.0,150.0,42.3,0.785,48,1
741,3,102.0,44.0,20.0,94.0,30.8,0.400,26,0
742,1,109.0,58.0,18.0,116.0,28.5,0.219,22,0
743,9,140.0,94.0,NaN,NaN,32.7,0.734,45,1
744,13,153.0,88.0,37.0,140.0,40.6,1.174,39,0
745,12,100.0,84.0,33.0,105.0,30.0,0.488,46,0
746,1,147.0,94.0,41.0,NaN,49.3,0.358,27,1
747,1,81.0,74.0,41.0,57.0,46.3,1.096,32,0
748,3,187.0,70.0,22.0,200.0,36.4,0.408,36,1
749,6,162.0,62.0,NaN,NaN,24.3,0.178,50,1
750,4,136.0,70.0,NaN,NaN,31.2,1.182,22,1
751,1,121.0,78.0,39.0,74.0,39.0,0.261,28,0
752,3,108.0,62.0,24.0,NaN,26.0,0.223,25,0
753,0,181.0,88.0,44.0,510.0,43.3,0.222,26,1
754,8,154.0,78.0,32.0,NaN,32.4,0.443,45,1
755,1,128.0,88.0,39.0,110.0,36.5,1.057,37,1
756,7,137.0,90.0,41.0,NaN,32.0,0.391,39,0
757,0,123.0,72.0,NaN,NaN,36.3,0.258,52,1
758,1,106.0,76.0,NaN,NaN,37.5,0.197,26,0
759,6,190.0,92.0,NaN,NaN,35.5,0.278,66,1
760,2,88.0,58.0,26.0,16.0,28.4,0.766,22,0
761,9,170.0,74.0,31.0,NaN,44.0,0.403,43,1
762,9,89.0,62.0,NaN,NaN,22.5,0.142,33,0
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [13]:
#Cara mengganti data missing dengan nilai mean
dataset2['Insulin'].fillna((dataset2['Insulin'].mean()))
dataset2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1
10,4,110.0,92.0,NaN,NaN,37.6,0.191,30,0
11,10,168.0,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139.0,80.0,NaN,NaN,27.1,1.441,57,0
13,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1
14,5,166.0,72.0,19.0,175.0,25.8,0.587,51,1
15,7,100.0,NaN,NaN,NaN,30.0,0.484,32,1
16,0,118.0,84.0,47.0,230.0,45.8,0.551,31,1
17,7,107.0,74.0,NaN,NaN,29.6,0.254,31,1
18,1,103.0,30.0,38.0,83.0,43.3,0.183,33,0
19,1,115.0,70.0,30.0,96.0,34.6,0.529,32,1
20,3,126.0,88.0,41.0,235.0,39.3,0.704,27,0
21,8,99.0,84.0,NaN,NaN,35.4,0.388,50,0
22,7,196.0,90.0,NaN,NaN,39.8,0.451,41,1
23,9,119.0,80.0,35.0,NaN,29.0,0.263,29,1
24,11,143.0,94.0,33.0,146.0,36.6,0.254,51,1
25,10,125.0,70.0,26.0,115.0,31.1,0.205,41,1
26,7,147.0,76.0,NaN,NaN,39.4,0.257,43,1
27,1,97.0,66.0,15.0,140.0,23.2,0.487,22,0
28,13,145.0,82.0,19.0,110.0,22.2,0.245,57,0
29,5,117.0,92.0,NaN,NaN,34.1,0.337,38,0
...,...,...,...,...,...,...,...,...,...
738,2,99.0,60.0,17.0,160.0,36.6,0.453,21,0
739,1,102.0,74.0,NaN,NaN,39.5,0.293,42,1
740,11,120.0,80.0,37.0,150.0,42.3,0.785,48,1
741,3,102.0,44.0,20.0,94.0,30.8,0.400,26,0
742,1,109.0,58.0,18.0,116.0,28.5,0.219,22,0
743,9,140.0,94.0,NaN,NaN,32.7,0.734,45,1
744,13,153.0,88.0,37.0,140.0,40.6,1.174,39,0
745,12,100.0,84.0,33.0,105.0,30.0,0.488,46,0
746,1,147.0,94.0,41.0,NaN,49.3,0.358,27,1
747,1,81.0,74.0,41.0,57.0,46.3,1.096,32,0
748,3,187.0,70.0,22.0,200.0,36.4,0.408,36,1
749,6,162.0,62.0,NaN,NaN,24.3,0.178,50,1
750,4,136.0,70.0,NaN,NaN,31.2,1.182,22,1
751,1,121.0,78.0,39.0,74.0,39.0,0.261,28,0
752,3,108.0,62.0,24.0,NaN,26.0,0.223,25,0
753,0,181.0,88.0,44.0,510.0,43.3,0.222,26,1
754,8,154.0,78.0,32.0,NaN,32.4,0.443,45,1
755,1,128.0,88.0,39.0,110.0,36.5,1.057,37,1
756,7,137.0,90.0,41.0,NaN,32.0,0.391,39,0
757,0,123.0,72.0,NaN,NaN,36.3,0.258,52,1
758,1,106.0,76.0,NaN,NaN,37.5,0.197,26,0
759,6,190.0,92.0,NaN,NaN,35.5,0.278,66,1
760,2,88.0,58.0,26.0,16.0,28.4,0.766,22,0
761,9,170.0,74.0,31.0,NaN,44.0,0.403,43,1
762,9,89.0,62.0,NaN,NaN,22.5,0.142,33,0
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [14]:
# Mengetahui banyaknya nilai NaN

dataset2.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [15]:
# Mengganti data missing secara bersamaan pada 1 file dengan mean
dataset2.fillna(dataset2.mean(), inplace=True)

# Mengetahui banyaknya nilai NaN
print (dataset2.isnull().sum())

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [16]:
dataset2.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.000000,35.00000,155.548223,33.600000,0.627,50,1
1,1,85.0,66.000000,29.00000,155.548223,26.600000,0.351,31,0
2,8,183.0,64.000000,29.15342,155.548223,23.300000,0.672,32,1
3,1,89.0,66.000000,23.00000,94.000000,28.100000,0.167,21,0
4,0,137.0,40.000000,35.00000,168.000000,43.100000,2.288,33,1
5,5,116.0,74.000000,29.15342,155.548223,25.600000,0.201,30,0
6,3,78.0,50.000000,32.00000,88.000000,31.000000,0.248,26,1
7,10,115.0,72.405184,29.15342,155.548223,35.300000,0.134,29,0
8,2,197.0,70.000000,45.00000,543.000000,30.500000,0.158,53,1
9,8,125.0,96.000000,29.15342,155.548223,32.457464,0.232,54,1
10,4,110.0,92.000000,29.15342,155.548223,37.600000,0.191,30,0
11,10,168.0,74.000000,29.15342,155.548223,38.000000,0.537,34,1
12,10,139.0,80.000000,29.15342,155.548223,27.100000,1.441,57,0
13,1,189.0,60.000000,23.00000,846.000000,30.100000,0.398,59,1
14,5,166.0,72.000000,19.00000,175.000000,25.800000,0.587,51,1
15,7,100.0,72.405184,29.15342,155.548223,30.000000,0.484,32,1
16,0,118.0,84.000000,47.00000,230.000000,45.800000,0.551,31,1
17,7,107.0,74.000000,29.15342,155.548223,29.600000,0.254,31,1
18,1,103.0,30.000000,38.00000,83.000000,43.300000,0.183,33,0
19,1,115.0,70.000000,30.00000,96.000000,34.600000,0.529,32,1

In [19]:
from sklearn.preprocessing import Imputer

In [22]:
dataset3 = pd.read_csv('pima-indians-diabetes.csv')
dataset3[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = dataset3[['Glucose','BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0,np.NaN)
value = dataset3.values
imputer = Imputer()
transformed_values = imputer.fit_transform(value)
transformed_values

/usr/local/lib/python2.7/dist-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

In [27]:
# Menghitung rata-rata BMI
mean_bmi = dataset2['BMI'].mean()

#mensubtitusi pada kolom BMI
#dataset wher value are 0
dataset2['BMI'] = dataset2['BMI'].replace(to_replace=0, value=mean_bmi)
dataset2.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.000000,35.00000,155.548223,33.600000,0.627,50,1
1,1,85.0,66.000000,29.00000,155.548223,26.600000,0.351,31,0
2,8,183.0,64.000000,29.15342,155.548223,23.300000,0.672,32,1
3,1,89.0,66.000000,23.00000,94.000000,28.100000,0.167,21,0
4,0,137.0,40.000000,35.00000,168.000000,43.100000,2.288,33,1
5,5,116.0,74.000000,29.15342,155.548223,25.600000,0.201,30,0
6,3,78.0,50.000000,32.00000,88.000000,31.000000,0.248,26,1
7,10,115.0,72.405184,29.15342,155.548223,35.300000,0.134,29,0
8,2,197.0,70.000000,45.00000,543.000000,30.500000,0.158,53,1
9,8,125.0,96.000000,29.15342,155.548223,32.457464,0.232,54,1
10,4,110.0,92.000000,29.15342,155.548223,37.600000,0.191,30,0
11,10,168.0,74.000000,29.15342,155.548223,38.000000,0.537,34,1
12,10,139.0,80.000000,29.15342,155.548223,27.100000,1.441,57,0
13,1,189.0,60.000000,23.00000,846.000000,30.100000,0.398,59,1
14,5,166.0,72.000000,19.00000,175.000000,25.800000,0.587,51,1
15,7,100.0,72.405184,29.15342,155.548223,30.000000,0.484,32,1
16,0,118.0,84.000000,47.00000,230.000000,45.800000,0.551,31,1
17,7,107.0,74.000000,29.15342,155.548223,29.600000,0.254,31,1
18,1,103.0,30.000000,38.00000,83.000000,43.300000,0.183,33,0
19,1,115.0,70.000000,30.00000,96.000000,34.600000,0.529,32,1